
<%= form_for :order, url: root_path, :method => :get do |f| %>
	<p class='status-select'>
	<%= f.label :Order_by_status %>
	<%= f.select :order_status,
			options_for_select([['All'],['In Box'],
			['Incomming'],['Processing'],
			['Shipping'],['Delivered']]) %></p>
	<% end %><br>

<%= render 'businesses/orders' %>