<div>
<%= form_for :order, url: order_update_status_path, :method => :get, remote: true do |f| %>
	<p class='status-select'>
	<%= f.label :Order_by_status %>
	<%= f.select :order_status,
			options_for_select([['All'],['In Box'],
			['Incoming'],['Processing'],
			['Shipping'],['Delivered']]) %></p>
	<% end %><br>

<%= render 'businesses/orders' %>
</div>
