<div>
  <h1>Order history for <%= current_client.name %></h1>
</div>
<br>

<table style="width:70%">
  <tr>
    <th>Date  </th>
    <th>Paid    </th>
    <th>Total     </th>
  </tr>
    <tr>
    <% current_client.orders.each do |order| %>
      <% if order.status ==  "Delivered" %>
      <td><%= order.created_at.strftime("%B %d, %Y")  %> </td>
      <td>  <%= order.paid %>       </td>
      <td>  $<%= order.total %>      </td>
      <% end %>
    </tr>
    <% end %>
</table>
<br>
