<h2>Set Box Direction</h2>
<br>
	<%= form_for :orders, url: orders_path, :method => :post do |f| %>
	 <p><%= f.select :pick_up_address,
				options_for_select(box_array(current_client.business.boxes)) %></p>
		<p><%= f.submit %></p>
    <% end %>
<!-- <P><%= link_to "add", orders_path, :method => :post %><p> -->
<section class="something">
		<div class="something">
			<div class="camera">
				<video id="video"></video>
				<form>
					<button id="startbutton">Scan Code</button>
				</form>

			</div>

			<canvas id="canvas" width="600" height="600">
			</canvas>

		</div>
	</section>
