
<!-- <P><%= link_to "add", orders_path, :method => :post %><p> -->
<section class="something">
	<h2>Set Box Number</h1>
		<form class="checkies">
			<input type="radio" name="box_id" value="1">1<br>
			<input type="radio" name="box_id" value="2">2<br>
			<input type="radio" name="box_id" value="3">3<br>	
			<button type="submit">Submit</button>
		</form>
		<div class="something">
			<div class="camera">
				<video id="video"></video>
				<form>
					<button id="startbutton">Scan Code</button>
				</form>

			</div>


			<canvas id="canvas" width="600" height="600">
			</canvas>



		</div>
	</section>