<p>add new order</p>
<!-- <P><%= link_to "add", orders_path, :method => :post %><p> -->








<div class="something">
	<div class="camera">
		<video id="video"></video>
		<form>
		
			<button id="startbutton">Scan Code</button>
		</form>

	</div>


	<canvas id="canvas" width="600" height="600">
	</canvas>

</div>