

<div class=""> <%# Float left with CSS %>
	<h1>Order# </h1> <%#Plug in order number%>
	<h1>Box# </h1> <%#Plug in box number%>
</div>


	<%# Basic Structure  %>
<table class="">
	<tr class="">
		<td>Shirt/s</td>
		<td><input type="number" name="quantity" min='0'></td> <%#Input quantity %>
		<td><input type="checkbox" name="iron" value="iron">iron</td>
	</tr>
	<tr class="">
		<td>Pant/s</td>
		<td><input type="number" name="quantity" min='0'></td> <%#Input quantity %>
		<td><input type="checkbox" name="iron" value="iron">iron</td>
	</tr>
	<tr class="">
		<td>T-shirt/s</td>
		<td><input type="number" name="quantity" min='0'></td> <%#Input quantity %>
		<td><input type="checkbox" name="iron" value="iron">iron</td>
	</tr>
	<tr class="">
		<td>Socks/s</td>
		<td><input type="number" name="quantity" min='0'></td> <%#Input quantity %>
		<td><input type="checkbox" name="iron" value="iron">iron</td>
	</tr>

</table>


<form class="" action="" method=""> <%#This form will send the information to the controller to enter the order  %> 
	<button>Submit Order</button>
</form>
