<table style="width: 100%">
	<tr>
		<th>Order Id</th>
		<th>Items QTY</th>
		<th>Status Laundry</th>
		<th>Total $</th>
		<th>Status Payment</th>
	</tr>
	<tr>
	<% @orders.each do |order| %>
	<th>order.id</th>
	<th>order.items.count</th>
	<th>
		<select name="post[order_id]" id="order.id">
			<option value="">Please select</option>
			<option value="1"></option>
			<option value="2"></option>
			<option value="3"></option>
		</select>
	</th>
	</tr>

	
</table>