/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.container{
  margin-bottom: 8%;
}
/*Admin dash */
.admin-header{
  margin: 0px;
}
.admin-menu a{
  background-color: #FAFDFF;
}
.logout{
  color:red;
  font-size: 1em;
  text-decoration: none;
}
.menu-item{
   border-right: 1px solid #293241;
}

.footer{
  background-color: #33CCFF;
  color:white;
  position: fixed;
  height: 8%;
  bottom: 0;
  width: 100%;
  margin:0;
  padding: 0;
}
.footer a{
  color:white;
}


.client-edit-profile{
  margin-right: 5%;
}




/*MOBIL VERSIONS*/
.nav-mobil{
  margin-top: 0px;
  background-color: #33CCFF;
  height: 60px;
}
.home-logo-mobil{
  height: 350px;
  background-color: blue;
  margin-bottom: 30px;
}
.terms{
  margin-bottom: 50px;
}
.btn-mobil {
  font-size: 2em;
  margin-bottom: 3%;

}
