/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


/*Admin dash */
.admin-header{
  margin: 0px;
}
.admin-menu a{
  background-color: #FAFDFF;
}
.logout{
  color:red;
  font-size: 1em;
  text-decoration: none;
}
.menu-item{
   border-right: 1px solid #293241;

}


/*Experiment*/
body{
  background-color:#FAFDFF;
  color: #red;
}
.navbar{
  background-color:#293241;
}

/*.div1{
  background-color:#AFD2E9;
  color:#6F6F71;
}

.div2{
  background-color:#6F6F71;
  color:#AFD2E9;
}*/