/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

*{
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5{
  font-family: 'Bree Serif', 'serif';
}

i{
  color: #0275d8;
}

body{
}
.container{
  margin-bottom: 8%;
}
/*Admin dash */
.admin-header{
  margin: 0px;
  margin-top: 5px
}
.unasigned{
  font-family: "Roboto", sans-serif, !important;
  color: red;
}

.logout{
  color:red;
  font-size: 1em;
  text-decoration: none;
}
.menu-item{
   border-right: 1px solid #293241;
}

.footer{
  background-color: #05E6FF;
  color:white;
  position: fixed;
  height: 8%;
  bottom: 0;
  width: 100%;
  margin:0;
  padding: 0;
}

.footer a{
  color:white;
}


.client-edit-profile{
  margin-right: 5%;
}


/*Business show */
.edit-col{
  width: 100px;
}
.edit-bag input{
  width:70%;
}
.blue{
  color: #0275d8;
}

.pay-now{
  display: inline;
}

.centered{
  text-align: center;
}

/*MOBIL VERSIONS*/
.nav-mobil{
  margin-top: 0px;
  background-color: #33CCFF;
  height: 60px;
}
.navbar{
  background-color: #05E6FF;
}
.home-logo-mobil{
  height: 350px;
  /*background-color: blue;*/
  margin-bottom: 30px;
}
.home-logo-mobil img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.terms{
  margin-bottom: 50px;
}
.btn-mobil {
  font-size: 2em;
  margin-bottom: 3%;
}

.btn-mobil-login {
  background-color:red;
  color:white;
}
.btn-mobil-login a:hover{
  background-color: blue;
}
.btn-machine img {
  height: 150px;
  width:auto;
  margin-bottom: 5%;
}
