/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/*custom fonts*/
@font-face{
  font-family: 'Simplifica';
  src: font-url('SIMPLIFICATypeface.ttf');
}


a{
  font-family: 'Simplifica';
  font-size: 26px;
  letter-spacing: 3px
}

h1{
  font-family: 'Simplifica';
  letter-spacing: 3px
}

/**h1,h2,h3,h4,h5{
  font-family: 'Simplifica';
}*/




.business-name{
  color: white;
  text-align: center;
}

i{
  color: #0275d8;
}

body{
}
.container{
  margin-bottom: 8%;
}
/*Admin dash */
.admin-header{
  margin: 0px;
  margin-top: 5px;

}

.admin-header a{
    font-family: 'Raleway', sans-serif, !important;
}

.btn-link{
  font-family: 'Titillium Web', sans-serif, !important;
}
.unasigned{
  font-family: 'Titillium Web', sans-serif, !important;
  color: red;
}

.logout{
  color:red;
  font-size: 1em;
  text-decoration: none;
}
.menu-item{
   border-right: 1px solid #0275d8;
}


.footer{
  background-color: #33CCFF;
  color:white;
  position: fixed;
  height: 8%;
  bottom: 0px;
  width: 100%;
  margin:0;
  padding: 0;
  padding-bottom: 60px;
}

.site-footer{
  padding-top: 15px;
}

.footer {
  text-align: center;
}

.footer a{
  color:white;
}

.new-order-logo{
  background-color: rgba(0,0,0,0.2);
}

.client-edit-profile{
  margin-right: 5%;
}
.rights-reserved{
  text-align:center;
  margin-left:10%;
}


/*Business show */
.edit-col{
  width: 100px;
}
.edit-bag input{
  width:70%;
}
.blue{
  color: #0275d8;
}

.pay-now{
  display: inline;
}

.centered{
  text-align: center;
}

.flash-notice{
  display: inline;
}

.form-dropdown{
  border: 1px solid #33CCFF;
}

.delivery-update {
  margin: 5px;
}
.delivery-option {
  margin-right: 15px;
}

.btn-machine{
  text-align: center;
}

.btn-machine img {
  height: 150px;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 1%;
  padding-right: 1%;
  border: 1px solid #E9F0F2;
  border-radius: 25px;
}

.btn-machine img:hover{
  height: 175px;
}

.small-logo{
  margin-top: 5px;
  max-height: 50px;
  max-width: 50px;
  float: left;
}

.business-name{
  display: inline-block;
  position: bottom;
}
/*MOBIL VERSIONS*/
.nav-mobil{
  margin-top: 0px;
  background-color: #33CCFF;
  height: 60px;
  /*background: #1e5799;*/  /*Old browsers */
}

.nav-mobil-link-container{
  margin-left: 20px;
}

.nav-mobil a:hover{
  margin-left: 10px;
  text-decoration: none;
}

.navbar{
  background-color: #05E6FF;
}
.main-container{
  min-height: 500px;
  margin-top: 5%;
}

.home-logo-mobil{
  text-align: center;
}

.home-logo-mobil img{
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

.terms{
  margin-bottom: 50px;
}
.btn-mobil {
  font-size: 2em;
  margin-bottom: 3%;
  max-width: 700px;
}

.optional{
  display: inline;
}

.row1{
  background-color: #F7FAFE;
}

.btn-mobil-login {
  border: 2px solid #0275d8;
  color:white;
  background-color: #0275d8;
}

.btn-mobil-login:hover{
  background-color: rgba(255,255,255,0.5);
  border: 2px solid #0275d8;
  color: #0275d8;
}

.btn-mobil-register:hover{
  background-color: rgba(255,255,255,0.5);
  border: 2px solid #0275d8;
  color: #0275d8;
}

