  <div class="home-logo-mobil col-12 justify-content-center">
    <img src="/images/machine-logo.jpg" alt="New order logo" class="new-order-logo">
  </div>


<!-- VA EN REGISTER
  <div class="justify-content-center terms">
  <input type="checkbox" name="terms">
  <label for="terms"><a href="">Accept terms and conditions</a></label>
  </div> -->

  <div>
    <%= link_to("Login", new_client_session_path, class: "btn col-12 btn-mobil btn-mobil-login")%>
  </div>

  <div>
    <%= link_to("Register", new_client_registration_path, class: "btn col-12 btn-primary  btn-mobil btn-mobil-register")%>
  </div>
