 <div class="home-logo-mobil col-12 justify-content-center">
  <img src="/images/pronto-logo.png" alt="New order logo" class="new-order-logo">

  <%= link_to("Login", new_client_session_path, class: "btn col-12 btn-mobil btn-mobil-login")%>
  <%= link_to("Register", new_client_registration_path, class: "btn col-12 btn-primary  btn-mobil btn-mobil-register")%>
</div>

