<br>
<div class="admin-header">
<div class="admin-menu d-flex justify-content-around mb-3">
    <div class="col-sm-3 menu-item d-flex justify-content-center">
     <i class="fa fa-2x fa-user-plus" aria-hidden="true"> <%= link_to("Admins",new_admin_path) %></i>
    </div>
    <div class="col-sm-3 menu-item  d-flex justify-content-center">
      <i class="fa fa-2x fa-truck" aria-hidden="true"><%= link_to("Shippers",new_shipper_path) %></i>
    </div>
    <div class="col-sm-3 menu-item  d-flex justify-content-center">
      <i class="fa fa-2x fa-line-chart" aria-hidden="true"><%= link_to("Business",business_path(current_admin.business)) %></i></a>
    </div>
    <div class="col-sm-3  menu-item d-flex justify-content-center">
      <a href="/"><i class="fa fa-2x fa-pencil-square-o" aria-hidden="true">Orders</i></a>
    </div><br>
</div>

<div class= "d-flex justify-content-end">
 <%= button_to "X logout", destroy_admin_session_path, class: "btn-link logout ", method:"delete"  %>
</div>
</div>
<hr>