    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">DBC Cleaner</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
     
    </ul>
  
      <%if current_client  %>
       <%= link_to("Logout", destroy_client_session_path, method: "delete", class:"btn btn-danger")%>
      <% elsif !current_admin && !current_client%>
        <%= link_to("Login", new_client_session_path,  class:"btn btn-success") %>
        <%= link_to("Register", new_client_registration_path,  class:"btn btn-primary") %> 
        <% elsif current_admin && !current_client  %>
           <%= link_to("Logout", destroy_admin_session_path, method: "delete", class:"btn btn-danger")%>
      <% end %>

  </div>
</nav>